.c4-container {
    margin: 5%;
  }
  .c4-heading-container {
    background-color: #02334d;
    padding: 5px;
    border-radius: 5px;
  }
  .c4-heading-style {
    color: #e4f1f7;
    font-size: 15px;
    text-align: left;
    padding: 0.1%;
    padding-top: 1%;
    padding-left: 3%;
  }
  .c4x-container {
    background-color: #e4f1f7;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: #02334d;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2%;
  }
  .c4x-subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .c4x-heading-style {
    color: #02334d;
    font-size: 15px;
    text-align: left;
    padding: 0.01%;
    padding-top: 1%;
    padding-left: 3%;
  }
  .c4x-assign-button-style {
    background-color: #02334d;
    color: #e4f1f7;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5%;
  }
  