.c33-inputFields-mainContainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.c33x-eachInputField-container {
  display: flex;
  flex-direction: row;
  border-color: #02334d;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 3%;
  margin: 2%;
}
.c33x-span-style {
  font-weight: bold;
}
.c33xx-span-style {
  font-weight: 700;
}
.c33x-heading-style {
  font-size: medium;
  font-weight: 600;
  color: black;
}
.c33x-label-style {
  font-size: 13px;
  font-weight: 600;
  color: black;
}
.c33x-input-style {
  width: 30%;
  height: 50%;
}
.c33x-label-textarea-container {
  display: flex;
  flex-direction: column;
  background-color: #9db4bf;
  border-radius: 30px;
  padding: 3%;
}
.c33x-container {
  background-color: #9db4bf;
  border-radius: 30px;
  padding: 3%;
  padding-bottom: 2%;
}
.c33xx-container {
  border-color: #9db4bf;
  border-style: solid;
  border-radius: 30px;
  padding: 1%;
  margin: 3%;
  padding: 2%;
}
.c33xx-Heading-style {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.c33x-textarea-style {
  width: 60%;
  border-radius: 5px;
}
table,
th,
td {
  border: 2px solid #9db4bf;
}
.c33x-table-style {
  padding: 2%;
}
.c33x-verticalTable-heading1-style {
  background-color: #9db4bf;
  border-right-color: white;
  width: 40%;
  color: black;
}
.c33x-verticalTable-heading2-style {
  background-color: #9db4bf;
  border-right-color: white;
  width: 20%;
  color: black;
}
.c33x-verticalTable-heading3-style {
  background-color: #9db4bf;
  width: 30%;
  color: black;
}
.c33x-horizontalTable-heading-style {
  color: black;
  width: 25%;
}
th {
  font-weight: bold;
}
td {
  font-weight: 600;
}
