.c32-inputFields-mainContainer {
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 1.5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.c32x-eachInputField-container {
  display: flex;
  flex-direction: column;
  border-color: #02334d;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 3%;
  margin: 2%;
}
.c32x-span-style {
  font-weight: bold;
}
.c32xx-span-style {
  font-weight: 700;
}
.c32x-heading-style {
  font-size: medium;
  font-weight: 600;
  color: black;
}
.c32x-label-style {
  font-size: 13px;
  font-weight: 600;
  color: black;
}
.c32x-input-style {
  width: 100%;
}
.c32x-label-textarea-container {
  display: flex;
  flex-direction: column;
  background-color: #cce1eb;
  border-radius: 10px;
  padding: 3%;
}
.c32x-container {
  width: 100%;
  background-color: #cce1eb;
  border-radius: 10px;
  padding: 2.5%;
  padding-bottom: 1%;
}
.c32xx-container {
  border-color: #cce1eb;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 2%;
  padding: 3%;
}
.c32xx-Heading-style {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.c32x-textarea-style {
  width: 60%;
  border-radius: 5px;
}
table,
th,
td {
  border: 2px solid #9db4bf;
}
.c32x-table-style {
  padding: 2%;
}
.c32x-verticalTable-heading1-style {
  background-color: #cce1eb;
  width: 40%;
  color: black;
}
.c32x-verticalTable-heading2-style {
  background-color: #cce1eb;
  width: 20%;
  color: black;
}
.c32x-verticalTable-heading3-style {
  background-color: #cce1eb;
  width: 30%;
  color: black;
}
.c32x-horizontalTable-heading-style {
  color: black;
  width: 25%;
}
th {
  font-weight: bold;
}
td {
  font-weight: 600;
}
.c32x-button-container {
  display: flex;
  justify-content: flex-end;
}
.c32x-button-style {
  background-color: #02334d;
  color: #cce1eb;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5%;
}
