.c25-inputFields-mainContainer {
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 1.5%;
    background-color: white;
    border-radius: 10px;
  }
  .c25x-eachInputField-container {
    display: flex;
    flex-direction: row;
    border-color: #02334d;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 3%;
    margin: 2%;
  }
  .c25x-span-style {
    font-weight: bold;
  }
  .c25xx-span-style {
    font-weight: 700;
  }
  .c25x-heading-style {
    font-size: medium;
    font-weight: 600;
    color: black;
  }
  .c25x-label-style {
    font-size: 13px;
    font-weight: 600;
    color: black;
  }
  .c25x-input-style {
    width: 30%;
    height: 50%;
  }
  .c25x-label-textarea-container {
    display: flex;
    flex-direction: column;
    background-color: #9db4bf;
    border-radius: 30px;
    padding: 3%;
  }
  .c25x-container {
    background-color: #9db4bf;
    border-radius: 30px;
    padding: 3%;
    padding-bottom: 2%;
  }
  .c25xx-container {
    border-color: #9db4bf;
    border-style: solid;
    border-radius: 30px;
    margin: 2%;
    padding: 3%;
  }
  .c25xx-Heading-style {
    color: black;
    font-size: 15px;
    font-weight: 600;
  }
  .c25x-textarea-style {
    width: 60%;
    border-radius: 5px;
  }
  table,
  th,
  td {
    border: 2px solid #9db4bf;
  }
  .c25x-table-style {
    padding: 2%;
  }
  .c25x-verticalTable-heading1-style {
    background-color: #9db4bf;
    border-right-color: white;
    width: 40%;
    color: black;
  }
  .c25x-verticalTable-heading2-style {
    background-color: #9db4bf;
    border-right-color: white;
    width: 20%;
    color: black;
  }
  .c25x-verticalTable-heading3-style {
    background-color: #9db4bf;
    width: 30%;
    color: black;
  }
  .c25x-horizontalTable-heading-style {
    color: black;
    width: 25%;
  }
  th {
    font-weight: bold;
  }
  td {
    font-weight: 600;
  }
  .c25x-button-container {
    display: flex;
    justify-content: flex-end;
  }
  .c25x-button-style {
    background-color: #02334d;
    color: #e4f1f7;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5%;
  }
  